{% extends "base.html" %}

{% block title %}Movie List{% endblock title %}

{% block content %}
<br>

<div class="row">
  {% for movie in response.Search %}
  <div class=" col-md-4">
    

<div class="card">
  <img class="card-img-top" src="{{movie.Poster}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{movie.Title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  

</div>
{% endfor %}
</div>


{% endblock content %}
